<?xml version="1.0" encoding="UTF-8"?>
<robot name="spot_arm_original">
  <joint name="arm0_el0" type="revolute">
    <origin xyz="0.3385 0. 0. " rpy="0. 0. 0."/>
    <parent link="arm0_link_sh1"/>
    <child link="arm0_link_el0"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="0." upper="3.14159" effort="90.9000015" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_el1" type="revolute">
    <origin xyz="0.4033 0. 0.075 " rpy="0. 0. 0."/>
    <parent link="arm0_link_el0"/>
    <child link="arm0_link_el1"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-2.79253" upper="2.79253" effort="30.2999992" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_f1x" type="revolute">
    <origin xyz="0.11745 0. 0.01482" rpy="0. 0. 0."/>
    <parent link="arm0_link_wr1"/>
    <child link="arm0_link_fngr"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.5707999" upper="0." effort="15.3199997" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_sh0" type="revolute">
    <origin xyz="0.292 0. 0.188" rpy="0. 0. 0."/>
    <parent link="spot"/>
    <child link="arm0_link_sh0"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.6179899" upper="3.14159" effort="90.9000015" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_sh1" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="arm0_link_sh0"/>
    <child link="arm0_link_sh1"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-3.14159" upper="0.523599" effort="181.8000031" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_wr0" type="revolute">
    <origin xyz="-0.0000001 0. 0. " rpy="0. 0. 0."/>
    <parent link="arm0_link_el1"/>
    <child link="arm0_link_wr0"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-1.8325998" upper="1.8325998" effort="30.2999992" velocity="99.9000045"/>
  </joint>
  <joint name="arm0_wr1" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="arm0_link_wr0"/>
    <child link="arm0_link_wr1"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-2.8798899" upper="2.8797898" effort="30.2999992" velocity="99.9000045"/>
  </joint>
  <joint name="fl_ank" type="fixed">
    <origin xyz="0. 0. -0.3365" rpy="0. 0. 0."/>
    <parent link="fl_lleg"/>
    <child link="fl_foot"/>
  </joint>
  <joint name="fl_hx" type="revolute">
    <origin xyz="0.29785 0.055 0. " rpy="0. 0. 0."/>
    <parent link="spot"/>
    <child link="fl_hip"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.785398" upper="0.785398" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="fl_hy" type="revolute">
    <origin xyz="0. 0.110945 0. " rpy="0. 0. 0."/>
    <parent link="fl_hip"/>
    <child link="fl_uleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.898845" upper="2.295108" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="fl_kn" type="revolute">
    <origin xyz="0.025 0. -0.3205" rpy="0. 0. 0."/>
    <parent link="fl_uleg"/>
    <child link="fl_lleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.7928999" upper="-0.2471" effort="115." velocity="100.000003"/>
  </joint>
  <joint name="fr_ank" type="fixed">
    <origin xyz="0. 0. -0.3365" rpy="0. 0. 0."/>
    <parent link="fr_lleg"/>
    <child link="fr_foot"/>
  </joint>
  <joint name="fr_hx" type="revolute">
    <origin xyz="0.29785 -0.055 0. " rpy="0. 0. 0."/>
    <parent link="spot"/>
    <child link="fr_hip"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.785398" upper="0.785398" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="fr_hy" type="revolute">
    <origin xyz="0. -0.110945 0. " rpy="0. 0. 0."/>
    <parent link="fr_hip"/>
    <child link="fr_uleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.898845" upper="2.295108" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="fr_kn" type="revolute">
    <origin xyz="0.025 0. -0.3205" rpy="0. 0. 0."/>
    <parent link="fr_uleg"/>
    <child link="fr_lleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.7928999" upper="-0.2471" effort="115." velocity="100.000003"/>
  </joint>
  <joint name="hl_ank" type="fixed">
    <origin xyz="0. 0. -0.3365" rpy="0. 0. 0."/>
    <parent link="hl_lleg"/>
    <child link="hl_foot"/>
  </joint>
  <joint name="hl_hx" type="revolute">
    <origin xyz="-0.29785 0.055 0. " rpy="0. 0. 0."/>
    <parent link="spot"/>
    <child link="hl_hip"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.785398" upper="0.785398" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="hl_hy" type="revolute">
    <origin xyz="0. 0.110945 0. " rpy="0. 0. 0."/>
    <parent link="hl_hip"/>
    <child link="hl_uleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.898845" upper="2.295108" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="hl_kn" type="revolute">
    <origin xyz="0.025 0. -0.3205" rpy="0. 0. 0."/>
    <parent link="hl_uleg"/>
    <child link="hl_lleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.7928999" upper="-0.2471" effort="115." velocity="100.000003"/>
  </joint>
  <joint name="hr_ank" type="fixed">
    <origin xyz="0. 0. -0.3365" rpy="0. 0. 0."/>
    <parent link="hr_lleg"/>
    <child link="hr_foot"/>
  </joint>
  <joint name="hr_hx" type="revolute">
    <origin xyz="-0.29785 -0.055 0. " rpy="0. 0. 0."/>
    <parent link="spot"/>
    <child link="hr_hip"/>
    <axis xyz="1. 0. 0."/>
    <limit lower="-0.785398" upper="0.785398" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="hr_hy" type="revolute">
    <origin xyz="0. -0.110945 0. " rpy="0. 0. 0."/>
    <parent link="hr_hip"/>
    <child link="hr_uleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-0.898845" upper="2.295108" effort="45." velocity="100.000003"/>
  </joint>
  <joint name="hr_kn" type="revolute">
    <origin xyz="0.025 0. -0.3205" rpy="0. 0. 0."/>
    <parent link="hr_uleg"/>
    <child link="hr_lleg"/>
    <axis xyz="0. 1. 0."/>
    <limit lower="-2.7928999" upper="-0.2471" effort="115." velocity="100.000003"/>
  </joint>
  <joint name="joint_spot-frontleft_fisheye" type="fixed">
    <origin xyz="0.4301646 -0.046357 0. " rpy="1.5707964 0. -2.0592291"/>
    <parent link="spot"/>
    <child link="frontleft_fisheye"/>
  </joint>
  <joint name="joint_spot-frontright_fisheye" type="fixed">
    <origin xyz="0.4155736 0. 0. " rpy="1.4569141 0.1030408 -1.1296011"/>
    <parent link="spot"/>
    <child link="frontright_fisheye"/>
  </joint>
  <link name="arm0_link_el0">
    <inertial>
      <origin xyz="0.0447662 -0.0027113 0.0499136" rpy="0. 0. 0."/>
      <mass value="0.9483196"/>
      <inertia ixx="0.0017591" ixy="0.0000609" ixz="0.0009238" iyy="0.0026923" iyz="0.0000522" izz="0.0020285"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_el0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_el0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_el1">
    <inertial>
      <origin xyz="-0.1686707 -0.0161612 0.0000115" rpy="0. 0. 0."/>
      <mass value="1.0175482"/>
      <inertia ixx="0.0011771" ixy="-0.0026055" ixz="0.0000016" iyy="0.0164939" iyz="-0.0000029" izz="0.016899"/>
    </inertial>
    <visual>
      <origin xyz="-0.0000001 0. 0. " rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_el1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0000001 0. 0. " rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_el1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_fngr">
    <inertial>
      <origin xyz="0.0356518 0.000672 -0.0122752" rpy="0. 0. 0."/>
      <mass value="0.2238331"/>
      <inertia ixx="0.0002523" ixy="-0.0000054" ixz="-0.0001507" iyy="0.0004845" iyz="0.0000018" izz="0.0005914"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_fngr_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_fngr_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_sh0">
    <inertial>
      <origin xyz="-0.008399 0.000272 -0.024603" rpy="0. 0. 0."/>
      <mass value="1.904699"/>
      <inertia ixx="0.008896" ixy="0.000005" ixz="-0.000193" iyy="0.004922" iyz="0.000033" izz="0.007303"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_sh1">
    <inertial>
      <origin xyz="0.0808491 -0.0016724 0.0004564" rpy="0. 0. 0."/>
      <mass value="1.8570194"/>
      <inertia ixx="0.0026153" ixy="-0.0004041" ixz="0.0001002" iyy="0.0270387" iyz="0.0000055" izz="0.0281993"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh1_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh1_visuals_mesh_1.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh1_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_sh1_visuals_mesh_1.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_wr0">
    <inertial>
      <origin xyz="0.0095246 -0.0114441 0.0000019" rpy="0. 0. 0."/>
      <mass value="0.5826374"/>
      <inertia ixx="0.0004674" ixy="0.0000696" ixz="0.0000004" iyy="0.0004497" iyz="0.0000002" izz="0.0005362"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_wr0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_wr0_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="arm0_link_wr1">
    <inertial>
      <origin xyz="0.0975128 0.0000926 -0.0112052" rpy="0. 0. 0."/>
      <mass value="0.933353"/>
      <inertia ixx="0.0009884" ixy="-0.0000013" ixz="-0.0003692" iyy="0.0019702" iyz="-0.0000007" izz="0.0016579"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_wr1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/arm0_link_wr1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="fl_foot">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="fl_hip">
    <inertial>
      <origin xyz="-0.0158674 0.0085584 0.000009 " rpy="0. 0. 0."/>
      <mass value="1.1368834"/>
      <inertia ixx="0.0012217" ixy="-0.0001775" ixz="0.0000004" iyy="0.0015896" iyz="-0.0000005" izz="0.001729"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fl_hip_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="fl_lleg">
    <inertial>
      <origin xyz="0.0059736 0. -0.1746643" rpy="0. 0. 0."/>
      <mass value="0.33"/>
      <inertia ixx="0.0070136" ixy="0." ixz="0.000066" iyy="0.0070995" iyz="0." izz="0.0001453"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fl_lleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="fl_uleg">
    <inertial>
      <origin xyz="0.0021444 -0.0111018 -0.078812 " rpy="0. 0. 0."/>
      <mass value="2.2562037"/>
      <inertia ixx="0.026925" ixy="-0.0000878" ixz="0.0005487" iyy="0.0258391" iyz="0.0020715" izz="0.0031874"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fl_uleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="fr_foot">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="fr_hip">
    <inertial>
      <origin xyz="-0.0158674 -0.0085584 0.000009 " rpy="0. 0. 0."/>
      <mass value="1.1368834"/>
      <inertia ixx="0.0012217" ixy="0.0001775" ixz="0.0000004" iyy="0.0015896" iyz="0.0000005" izz="0.001729"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fr_hip_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="fr_lleg">
    <inertial>
      <origin xyz="0.0059736 0. -0.1746643" rpy="0. 0. 0."/>
      <mass value="0.33"/>
      <inertia ixx="0.0070136" ixy="0." ixz="0.000066" iyy="0.0070995" iyz="0." izz="0.0001453"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fr_lleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="fr_uleg">
    <inertial>
      <origin xyz="0.0021444 0.0111018 -0.078812 " rpy="0. 0. 0."/>
      <mass value="2.2562037"/>
      <inertia ixx="0.026925" ixy="0.0000878" ixz="0.0005487" iyy="0.0258391" iyz="-0.0020715" izz="0.0031874"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/fr_uleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="frontleft_fisheye"/>
  <link name="frontright_fisheye"/>
  <link name="hl_foot">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="hl_hip">
    <inertial>
      <origin xyz="0.0158674 0.0085584 0.000009 " rpy="0. 0. 0."/>
      <mass value="1.1368834"/>
      <inertia ixx="0.0012217" ixy="0.0001775" ixz="-0.0000004" iyy="0.0015896" iyz="-0.0000005" izz="0.001729"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hl_hip_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="hl_lleg">
    <inertial>
      <origin xyz="0.0059736 0. -0.1746643" rpy="0. 0. 0."/>
      <mass value="0.33"/>
      <inertia ixx="0.0070136" ixy="0." ixz="0.000066" iyy="0.0070995" iyz="0." izz="0.0001453"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hl_lleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="hl_uleg">
    <inertial>
      <origin xyz="0.0021444 -0.0111018 -0.078812 " rpy="0. 0. 0."/>
      <mass value="2.2562037"/>
      <inertia ixx="0.026925" ixy="-0.0000878" ixz="0.0005487" iyy="0.0258391" iyz="0.0020715" izz="0.0031874"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hl_uleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="hr_foot">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.000001"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
  </link>
  <link name="hr_hip">
    <inertial>
      <origin xyz="0.0158674 -0.0085584 0.000009 " rpy="0. 0. 0."/>
      <mass value="1.1368834"/>
      <inertia ixx="0.0012217" ixy="-0.0001775" ixz="-0.0000004" iyy="0.0015896" iyz="0.0000005" izz="0.001729"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hr_hip_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="hr_lleg">
    <inertial>
      <origin xyz="0.0059736 0. -0.1746643" rpy="0. 0. 0."/>
      <mass value="0.33"/>
      <inertia ixx="0.0070136" ixy="0." ixz="0.000066" iyy="0.0070995" iyz="0." izz="0.0001453"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hr_lleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="hr_uleg">
    <inertial>
      <origin xyz="0.0021444 0.0111018 -0.078812 " rpy="0. 0. 0."/>
      <mass value="2.2562037"/>
      <inertia ixx="0.026925" ixy="0.0000878" ixz="0.0005487" iyy="0.0258391" iyz="-0.0020715" izz="0.0031874"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hr_uleg_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="spot">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/body_visuals_mesh_0.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <box size="0.85 0.2 0.14"/>
      </geometry>
    </collision>
  </link>
</robot>
